/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
    --app_light_background: #845ec2;
    --app_dark_background: #d65db1;
    --app_main_text: #ff9671;
    --app_clear_highlighted_text: #f9f871;
    --app_dark_highlighted_text: #2665b8;
    --app_relevant_button_bg: #8dbfff;
    --app_relevant_button_text: #008f7a;
    --app_button_bg: #00f0cc;
    --app_button_text: #aaa;
    --app_decoration_color: #000;
}

/* USAGE DEMO
* {
    background-color: var(--app_background_color);
}
*/