
#about-content {
    --ion-background-color: var(--app_light_background_color);
}

#about-grid {
    height: 100%;
    background-color: var(--app_light_background_color);
    
    @media screen and (min-width: 768px) {
        overflow: hidden;
    }

    @media screen and (max-width: 768px) {
        height: 100%;
    }
    
}

#about-text-column {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#about-image-column {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#about-image{
    height: 100%;
    object-fit: cover;
    border: 2px solid #555;
    
    @media screen and (max-width: 768px) {
        border-radius: 25px;
    }

    @media screen and (min-width: 768px) {
        position: relative;
        right: -20%;
        bottom: -10%;
        margin: 0;
        padding: 0;
        
        border-top-left-radius: 100px;
    }
}

#about-text {
    margin: 5% 0% 0% 5%;
    padding: 0;
    position: relative;
    text-align: left;

    color: var(--app_main_text_color);
    
    height: 100%;
    width: 100%;

    overflow-y: auto;

    @media screen and (max-width: 768px) {
        text-align: center;
        margin: 0;
    }
}

#about-text a {
    color: var(--app_main_text_color);
}

#about-title {
    font-family: 'Source Code Pro Black', sans-serif;
    font-size: 5vh;
    color: var(--app_main_text_color);
    padding-bottom: 0;
    margin-bottom: 5vh;
}

#about-content {
    font-family: 'Source Code Pro Light', sans-serif;
    line-height: 3vh;
    font-size: 2vh;
    color: var(--app_main_text_color);
    padding-top: 0;
    margin-top: 0;
}

#cv-download {
    font-family: 'Source Code Pro Black', sans-serif;
    text-decoration: none;
    font-size: 3vh;
    color: black;
    margin: 5vh;
    padding: 5vh;
}
