
#experience-content {
    --ion-background-color: var(--app_light_background_color);
}

#experience-content ion-title {
    color: var(--app_main_text_color);
    font-family: "Source Code Pro Black", sans-serif;
    font-size: 4vh;
}

.experience-slot {
    --ion-item-background: var(--app_medium_background_color);
    --ion-item-color: var(--app_main_text_color);

    --ion-font-family: "Source Code Pro Black", sans-serif;
}

.experience-card-div {
    background-color: var(--app_medium_background_color);
}

.experience-card {
    --ion-card-background: var(--app_medium_background_color);
}

.experience-card * {
    color: var(--app_main_text_color);
    font-family: "Source Code Pro Light", sans-serif;
}

.experience-card a {
    color: var(--app_clear_highlighted_text_color);
    font-family: "Source Code Pro Black", sans-serif;
}

.experience-card ion-chip * {
    color: var(--app_main_text_color);
    font-family: "Source Code Pro Light", sans-serif;
}

.experience-card ion-button {
    color: var(--app_clear_highlighted_text_color);
    font-family: "Source Code Pro Light", sans-serif;
}

.experience-slot {
    @media screen and (max-width: 768px) {
        font-size: 70%;
    }
}

.experience-component-image {

    width: 40%;

    @media screen and (max-width: 768px) {
        width: 30%;
    }
}