.contact-button {
    color: var(--app_relevant_button_text_color);
    --background: var(--app_relevant_button_bg_color);

    position: absolute;
    padding: 1%;
    top: 4%;
    right: 0%;
    margin-right: 10%;
    z-index: 100;

    @media screen and (max-width: 768px) {
        margin-right: 20%;
    }
}

.contact-modal {
    --width: 80%;
    --height: 80%;
    --ion-background-color: var(--app_light_background_color);

    @media screen and (max-width: 768px) {
        --width: 100%;
        --height: 100%;

        text-align: center;
    }
}

.contact-modal ion-toolbar {
    --background: var(--app_light_background_color);
}

.contact-modal ion-header {
    --background: var(--app_light_background_color);
    --ion-box-shadow: none;
    box-shadow: none;
    --ion-toolbar-shadow: none;
}

.contact-modal ion-button {
    color: var(--app_clear_highlighted_text_color);
}

.contact-modal-content * {
    color: var(--app_main_text_color);
    font-family: "Source Code Pro Light";
}
