.contact-button {
    position: absolute;
    padding: 1%;
    top: 4%;
    right: 0%;
    margin-right: 10%;
    z-index: 100;

    @media screen and (max-width: 768px) {
        margin-right: 20%;
    }
}

.contact-modal {
    --width: 95%;
    --height: 95%;
    --ion-background-color: white;
}

.contact-modal ion-toolbar {
    --background: white;
}


.contact-modal ion-header {
    --background: white;
    --ion-box-shadow: none;
    box-shadow: none;
    --ion-toolbar-shadow: none;
}

.contact-modal ion-button {
    color: black;
}

.contact-modal-content * {
    color: black;
    font-family: "Source Code Pro Light";
}